.highlight {
  background-color: yellow;
}

#outputPart1, #outputLoops, #outputFunctions, #outputDOM {
  margin-bottom: 1.5rem;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-width: 600px;
  background: #f9f9f9;
  font-family: monospace;
}
